 
 @if(Category.ToUpper().Trim()=="CRUD".ToUpper())
 {
    if(Design.ToUpper().Trim()=="a".ToUpper())
    {
      Cls="menu-itms";
    <a @onclick="@(args => CRUD(@Type,@Link,@LinkId))" value="@Val" 
     class="@Cls">@trs.GetTranslation(@KeyWorkTrn,@AppData.ActiveUser,@EntityTrn)</a>
    }else if (Design.ToUpper().Trim()=="btn".ToUpper()) 
    {
       Cls="btn bnt-style-general";
      <button class="@Cls" @onclick="@(args => CRUD(@Type,@Link,@LinkId))"
         data-toggle="tooltip"  title="@trs.GetTranslation(@KeyWorkTrn,@AppData.ActiveUser,@EntityTrn)">
      <span class="@Ico" aria-hidden="true"></span>
      </button>
    }
 }else if (Category.ToUpper().Trim()=="RUNCMD".ToUpper())
 {
    if(Design.ToUpper().Trim()=="a".ToUpper())
    {
      Cls="menu-itms";
    <a @onclick="OnClickCallback" value="@Val" 
     class="@Cls">@trs.GetTranslation(@KeyWorkTrn,@AppData.ActiveUser,@EntityTrn)</a>
    }else if (Design.ToUpper().Trim()=="btn".ToUpper()) 
    {
       Cls="btn bnt-style-general";
      <button class="@Cls" @onclick="OnClickCallback"
         data-toggle="tooltip"  title="@trs.GetTranslation(@KeyWorkTrn,@AppData.ActiveUser,@EntityTrn)">
      <span class="@Ico" aria-hidden="true"></span>
      </button>
    }

    
 }


@code  {
  
    [Parameter]  
    public string Design { get; set; }="";   
    [Parameter]  
    public string Cls { get; set; }="";
    [Parameter]  
    public string Ico { get; set; }=""; 
    [Parameter]  
    public string Category { get; set; }="CRUD"; 

    [Parameter]  
    public string Type { get; set; }="";  
   
    [Parameter]  
    public string Link { get; set; } =""; 
    
    [Parameter]  
    public string LinkId { get; set; }="";   

    [Parameter]
    public string KeyWorkTrn { get; set; }=""; 

    [Parameter]
    public string EntityTrn { get; set; }="General"; 
    
    [Parameter]
    public string Val { get; set; }=""; 

      [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

    private void CRUD(string pOperType, string pNavLink, string pRecId)
    {         
        ServClass servClass = new ServClass(NavManager,AppData,JSRuntime);
                  servClass.CRUD(pOperType,pNavLink, pRecId);
    }
    
 }