 
 @if(Category.ToUpper().Trim()=="CRUD".ToUpper())
 {
    if(Design.ToUpper().Trim()=="a".ToUpper())
    {
      Cls="menu-itms";
    <a @onclick="@(args => CRUD(@Type,@Link,@LinkId))" value="@Val" 
     class="@Cls.ToLower()">@trs.GetTranslation(@Txt,@AppData.ActiveUser,@EntityTrn)</a>
    }else if (Design.ToUpper().Trim()=="btn".ToUpper()) 
    {
       Cls="btn bnt-style-general";
      <button class="@Cls.ToLower()" @onclick="@(args => CRUD(@Type,@Link,@LinkId))"
         data-toggle="tooltip"  title="@trs.GetTranslation(@TxtToolTip,@AppData.ActiveUser,@EntityTrn)">
      <span class="@Ico.ToLower()" aria-hidden="true">@trs.GetTranslation(@Txt,@AppData.ActiveUser,@EntityTrn)</span>
      </button>
    }
 }else if (Category.ToUpper().Trim()=="RunCmd".ToUpper())
 {
    if(Design.ToUpper().Trim()=="a".ToUpper())
    {
      Cls="menu-itms";
    <a @onclick="OnClickCallback" value="@Val" 
     class="@Cls">@trs.GetTranslation(@Txt,@AppData.ActiveUser,@EntityTrn)</a>
    }else if (Design.ToUpper().Trim()=="btn".ToUpper()) 
    {
       Cls="btn bnt-style-general";
      <button class="@Cls.ToLower()" @onclick="OnClickCallback"
         data-toggle="tooltip"  title="@trs.GetTranslation(@TxtToolTip,@AppData.ActiveUser,@EntityTrn)">
      <span class="@Ico.ToLower()" aria-hidden="true">@trs.GetTranslation(@Txt,@AppData.ActiveUser,@EntityTrn)</span>
      </button>
    }

    
 }else if (Category.ToUpper().Trim()=="EditForm".ToUpper())
 {
           Cls="btn bnt-style-general";
           
           @if (@EditOrView==true)
           {
               @if( ReadonlyOther==false )
               {
                  CancelOrBeckTxt="Cancel";
                  <input type="@TypeInput.ToLower()" class="@Cls.ToLower()" @onclick="OnClickCallback"  value="@trs.GetTranslation(@Txt,@AppData.ActiveUser,@EntityTrn)">
               
               }else if ( ReadonlyOther==true ){
               CancelOrBeckTxt="Back";

                   if(@TypeInput=="submit"){
                   <input  type="hidden" class="@Cls.ToLower()" @onclick="OnClickCallback"  value="@trs.GetTranslation(@CancelOrBeckTxt,@AppData.ActiveUser,@EntityTrn)"> 
                   }else if(@TypeInput=="button"){
                    <input  type="@TypeInput.ToLower()" class="@Cls.ToLower()" @onclick="OnClickCallback"  value="@trs.GetTranslation(@CancelOrBeckTxt,@AppData.ActiveUser,@EntityTrn)"> 
                   
                   }

               }          

            }else{
 
            <input type="@TypeInput.ToLower()" class="@Cls.ToLower()" @onclick="OnClickCallback"  value="@trs.GetTranslation(@Txt,@AppData.ActiveUser,@EntityTrn)">

            }
      
       }


@code  {
  
    [Parameter]  
    public string Design { get; set; }="";   
    [Parameter]  
    public string Cls { get; set; }="";
    [Parameter]  
    public string Ico { get; set; }=""; 

    [Parameter]  
    public bool EditOrView{ get; set; }=false; 

    [Parameter]  
    public bool ReadonlyOther { get; set; }=false; 

    [Parameter]  
    public string CancelOrBeckTxt { get; set; }=""; 


    [Parameter]  
    public string Category { get; set; }="CRUD"; 

    [Parameter]  
    public string Type { get; set; }="";  

    [Parameter]  
    public string TypeInput { get; set; }="";  
   
    [Parameter]  
    public string Link { get; set; } =""; 
    
    [Parameter]  
    public string LinkId { get; set; }="";   

    [Parameter]
    public string TxtToolTip { get; set; }=""; 

    [Parameter]
    public string Txt { get; set; }=""; 

    [Parameter]
    public string EntityTrn { get; set; }="General"; 
    
    [Parameter]
    public string Val { get; set; }=""; 

      [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

    private void CRUD(string pOperType, string pNavLink, string pRecId)
    {         
        ServClass servClass = new ServClass(NavManager,AppData,JSRuntime);
                  servClass.CRUD(pOperType,pNavLink, pRecId);
    }
    
 }