
@if (SpaceLength==0 || SpaceLength==1 ||SpaceLength<=1 )
{
   <a>&nbsp</a>

}else if (SpaceLength>1)
{
    @for (int i = 1; i < SpaceLength; i++)
    {
    <a>&nbsp</a>     
    }
}

@if(Center)
{
    <center>
    
    @if (TxtSize=="h4")
    {
    <h4 style="color: @Color; background-color:@BackgroundColor;">@trs.GetTranslation(@Txt,@AppData.ActiveUser,@EntityTrn)</h4>
    }else if (TxtSize=="h3")
    {
    <h3 style="color: @Color; background-color:@BackgroundColor;">@trs.GetTranslation(@Txt,@AppData.ActiveUser,@EntityTrn)</h3>
    }else if (TxtSize=="h2")
    {
    <h2 style="color: @Color; background-color:@BackgroundColor;">@trs.GetTranslation(@Txt,@AppData.ActiveUser,@EntityTrn)</h2>
    }else if (TxtSize=="h1")
    {
    <h1 style="color: @Color; background-color:@BackgroundColor;">@trs.GetTranslation(@Txt,@AppData.ActiveUser,@EntityTrn)</h1>
    }
    </center>

}else
{
    @if (TxtSize=="h4")
    {
    <h4 style="color: @Color; background-color:@BackgroundColor;">@trs.GetTranslation(@Txt,@AppData.ActiveUser,@EntityTrn)</h4>
    }else if (TxtSize=="h3")
    {
    <h3 style="color: @Color; background-color:@BackgroundColor;">@trs.GetTranslation(@Txt,@AppData.ActiveUser,@EntityTrn)</h3>
    }else if (TxtSize=="h2")
    {
    <h2 style="color: @Color; background-color:@BackgroundColor;">@trs.GetTranslation(@Txt,@AppData.ActiveUser,@EntityTrn)</h2>
    }else if (TxtSize=="h1")
    {
    <h1 style="color: @Color; background-color:@BackgroundColor;">@trs.GetTranslation(@Txt,@AppData.ActiveUser,@EntityTrn)</h1>
    }
}

@code
{  
   
    [Parameter]  public int SpaceLength { get; set; }=0; 
    [Parameter]  public string TxtSize { get; set; }="h4"; 
    [Parameter]  public bool Center { get; set; }=false; 
    [Parameter]  public string Txt { get; set; }=""; 
    [Parameter]  public string Color { get; set; }=""; 
    [Parameter]  public string BackgroundColor { get; set; }="transparent"; 
    [Parameter] public string EntityTrn { get; set; }="General"; 
}