@page "/Dir/CountryEdit/{CurrentID}"
@inject CountryController objCountryController

@inject IStringLocalizer<CountryEdit> L 

@* @attribute [Authorize(Roles = "Admin")] *@

<AuthorizeView Roles="@admSer.GetRolesList("CountryEdit")">
 <div class="fix-possition">
<WrPnlElm>
    <ControlQuickAccess>
              <input type="button" class="btn bnt-style-general" @onclick="@UpdateCountry" value="Update">
              <input type="button" class="btn btn bnt-style-general" @onclick="@Cancel" value="Cancel">
    </ControlQuickAccess>
</WrPnlElm>
</div> 

<div class="under-cls">
<form>
    <div class="row">

        <div class="col-md-8  field-content">

            <div class="form-group">
                <label for="Code" class="control-lable">@L["Code"]</label>
                <input readonly="@readonlyMain1" form="Code" class="form-control" @bind="@objCountry.Code" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-lable">@L["Name"]</label>
                <input readonly="@readonlyOther" form="Name" class="form-control" @bind="@objCountry.Name" />
            </div>
            <div class="form-group">
                <label for="FullName" class="control-lable">@L["FullName"]</label>
                <input readonly="@readonlyOther" form="FullName" class="form-control" @bind="@objCountry.FullName" />
            </div>
            <div class="form-group">
                <label for="English" class="control-lable">@L["English"]</label>
                <input readonly="@readonlyOther" form="English" class="form-control" @bind="@objCountry.English" />
            </div>
            <div class="form-group">
                <label for="Alpha2" class="control-lable">@L["Alpha2"]</label>
                <input readonly="@readonlyOther" form="Alpha2" class="form-control" @bind="@objCountry.Alpha2" />
            </div>
            <div class="form-group">
                <label for="Alpha3" class="control-lable">@L["Alpha3"]</label>
                <input readonly="@readonlyOther" form="Alpha3" class="form-control" @bind="@objCountry.Alpha3" />
            </div>
            <div class="form-group">
                <label for="Iso" class="control-lable">@L["Iso"]</label>
                <input readonly="@readonlyOther" form="Iso" class="form-control" @bind="@objCountry.Iso" />
            </div>
            <div class="form-group">
                <label for="CreatedDate" class="control-lable">@L["CreatedDate"]</label>
                <input readonly="@readonlyMain1"  form="AlpCreatedDateha3" class="form-control" @bind="@objCountry.CreatedDate" />
            </div>
        </div>

    </div>

 </form>
</div>
</AuthorizeView>
@code{


    [Parameter]
    public string CurrentID { get; set; }
    Country objCountry = new Country();

    private bool readonlyMain1 {get;set;}=false;
    private bool readonlyMain2 {get;set;}=false;
    private bool readonlyOther {get;set;}=false;

    protected override void OnInitialized()
    {
        objCountry = objCountryController.GetCountryById(Convert.ToInt32(CurrentID));
        
        readonlyMain1=AppData.readonlyMain1;
        readonlyMain2=AppData.readonlyMain2;
        readonlyOther=AppData.readonlyOther;
    }

    protected void UpdateCountry()
    {
        objCountryController.UpdateCountry(objCountry);
       NavManager.NavigateTo("/Dir/CountryViewStd/"+CurrentID);
    }
    void Cancel()
    {
      NavManager.NavigateTo("/Dir/CountryViewStd/"+CurrentID);
    }
}