@page "/Dir/GenderDelete/{CurrentID}"
@inject GenderController MainController

<AuthorizeView Roles="@admSer.GetRolesList("GenderDelete")" Context="authContext">
  <Authorized>

<EditForm Model="@objMain" OnValidSubmit="@Delete" OnInvalidSubmit="@Cancel" Context="formContext">  
   
    <WrPnlElm>
        <ControlQuickAccess>
                <input type="submit" class="btn bnt-style-general"  value="@trs.GetTranslation("Delete",@AppData.ActiveUser,"General")">
                <input   type="button" class="btn btn bnt-style-general" @onclick="@Cancel" value="@trs.GetTranslation("Cancel",@AppData.ActiveUser,"General")">
        </ControlQuickAccess>
    </WrPnlElm>

    <WrFormBody>
        <FormElements>
            <h4>@trs.GetTranslation("AreYouSureToDeteteRow",@AppData.ActiveUser,"General")</h4>

            <WrFieldInt TransEntity="General" FieldCaption="Code" 
            ReadonlyOpt="readonlyMain1" Val="@objMain.Code" />
     
            <WrFieldStr ReadonlyThis="readonlyMain1" FieldCaption="Name"
            TransEntity="General"  @bind-BindingValue ="@objMain.Name"/>

        </FormElements>      
    </WrFormBody>    
    </EditForm>    
</Authorized>
<NotAuthorized>
    <WrPageNotFound/>
</NotAuthorized>
</AuthorizeView>


@code{

    [Parameter]
    public string CurrentID { get; set; }
    Gender objMain = new Gender();  
    private bool readonlyMain1 {get;set;}=false;

    protected override void OnInitialized()
    {
        readonlyMain1=AppData.readonlyMain1;
        objMain = MainController.GetById_FirstOrDefault(Convert.ToInt32(CurrentID));
    }

    protected void Delete()
    {
        MainController.Delete(objMain);
        NavManager.NavigateTo("/Dir/GenderViewStd/0");
    }
    void Cancel()
    {
        NavManager.NavigateTo("/Dir/GenderViewStd/0");
    }

}