@page "/IndOrg/IndividualViewStdClassic"
@inject IndividualController individualListidualService

<div class="panel-elements">
    <div class="row ">
        <div class="col-md-4">
            <div class="form-group ">
                @* Functionality Menu*@
                <div class="dropdown">
                    <button class="btn bnt-style-general"><span class="oi oi-media-play" aria-hidden="true"></span></button>
                    <div class="dropdown-content">
                        <a @onclick="@(args => AddNew())" value="Add">Add</a>
                        <a @onclick="@(args => Edit(selectedRow.ToString()))">Edit</a>
                        <a @onclick="@(args => Delete(selectedRow.ToString()))">Delete</a>
                    </div>
                </div>
                @* Functionality Buttons*@
           
                <button class="btn bnt-style-general" @onclick="@(args => AddNew())" data-toggle="tooltip" title="Add"><span class="oi oi-plus" aria-hidden="true"></span></button>
                <button class="btn bnt-style-general" @onclick="@(args => Edit(selectedRow.ToString()))" data-toggle="tooltip" title="Edit" ><span class="oi oi-pencil" aria-hidden="true"></span></button>
                <button class="btn bnt-style-general" @onclick="@(args => Delete(selectedRow.ToString()))" data-toggle="tooltip" title="Delete"  ><span class="oi oi-circle-x" aria-hidden="true"></span></button>
                <input type="button" class="btn bnt-style-general" @onclick="@(args => Delete(selectedRow.ToString()))" value="">
                <label for="fname"> Row: @selectedRow</label>
            </div>
        </div>
    </div>
</div>

@if (individualList == null)
{
    <p><em>Loading...</em></p>
@* <div class="spinner"></div> *@
}
else
{




    <div class="table-style">
        <table class="table table-bordered " id="rowClick">
            <thead class="thead-light theader-stl ">
                <tr>
                    <th>Code</th>
                    <th>FullName</th>

                    <th>FullNameEN</th>
                    <th>BirthDay</th>
                    <th>Address</th>
                    <th>PassCode</th>
                    <th>PhoneNumber</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>CreatedDate</th>
                    @* *@

                    @*<th>Edit</th>
        <th>Delete</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in individualList)
                {
                    incRow++;
                    if (incRow == 1)
                    {
                        minRowindex = emp.Id;
                    }


                <tr @onclick="() => TrClickedAtIndex(emp.Id)" class="tdata-stl">
                    <td>@emp.Code</td>
                    <td>@emp.FullName</td>

                    <td>@emp.FullNameEN</td>
                    <td>@emp.BirthDay</td>
                    <td>@emp.Address</td>
                    <td>@emp.PassCode</td>
                    <td>@emp.Gender.Name</td>
                    <td>@emp.CreatedDate</td>
                    @*
                    <td>
                    <a class="nav-link" href="cli/edit/@emp.Id">edit</a>
                    </td>
                    <td>
                    <a class="nav-link" href="cli/delete/@emp.Id">delete</a>
                    </td>
                    *@
                </tr>
                }
            </tbody>
        </table>
    </div>
}
@code{
    List<Individual> individualList;
    protected int incRow { get; set; } = 0;
    protected int minRowindex { get; set; } = 0;
    protected int selectedRow { get; set; } = 0;


    protected override async Task OnInitializedAsync()
    {
        individualList = await Task.Run(() => individualListidualService.Get());

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {     
        // await JSRuntime.InvokeVoidAsync("ToolTipEnable");
        await JSRuntime.InvokeVoidAsync("SelectedRowColorChange");
       // return base.OnAfterRenderAsync(firstRender);
    }

    public async Task TrClickedAtIndex(int index)
    {
        // Console.WriteLine($"tr clicked at index {index}!");
        selectedRow = index;
        await JSRuntime.InvokeVoidAsync("SelectedRowColorChange");
    }

    protected void AddNew()
    {
        NavManager.NavigateTo("/IndOrg/Add");
    }

    protected void Edit(string p_selectedRow)
    {
        if ( int.Parse(p_selectedRow)<=0) //String.IsNullOrEmpty(p_selectedRow)
        {
            JSRuntime.InvokeVoidAsync("msgbox", "Please, choose the record before running the command");
        }
        else {
            NavManager.NavigateTo("/IndOrg/IndividualEdit/" + p_selectedRow);
        }
    }
    protected void Delete(string p_selectedRow)
    {
        if (int.Parse(p_selectedRow) <= 0) //String.IsNullOrEmpty(p_selectedRow)
        {
            JSRuntime.InvokeVoidAsync("msgbox", "Please, choose the record before running the command");
        }
        else
        {
            NavManager.NavigateTo("/IndOrg/IndividualDelete/" + p_selectedRow);
        }

    }

    void Cancel()
    {
        NavManager.NavigateTo("/IndOrg/View");
    }

}

