@page "/IndOrg/IndividualEdit/{CurrentID}"
@inject IndividualController IndividualController
@inject GenderController GenderController
@inject CountryController CountryController
@inject GnrSrv GnrSrv 


<AuthorizeView Roles="@admSer.GetAccessRights("IndividualEdit")" Context="authContext">
  <Authorized>

<EditForm Model="@objIndividual" OnValidSubmit="@UpdateIndividual" OnInvalidSubmit="@OnInvalidSubmitMsg" Context="formContext">  
    <FluentValidationValidator />  @* <DataAnnotationsValidator />   It's Standard method of validations *@
    <ValidationSummary/>
    
    <WrPnlElm>
        <ControlQuickAccess>
                <input type="submit" class="btn bnt-style-general"  value="Update">
                <input   type="button" class="btn btn bnt-style-general" @onclick="@Cancel" value="Cancel">
                @* <button class="btn bnt-style-general" @onclick="@(args => NavManager.NavigateTo(AppData.IndividualLink))" data-toggle="tooltip" title="Beck"><span class="fa fa-backward" aria-hidden="true"></span> Beck</button> *@
        </ControlQuickAccess>
    </WrPnlElm>

    <WrFormBody>
        <FormElements>
            <div class="form-group">
                <WrLebel TransEntity="Individual" FieldCaption="Code" ></WrLebel>  
                <input readonly=@readonlyMain1 class="form-control" id="Code" @bind="objIndividual.Code" /> 
            </div>  

            <WrFieldStr ReadonlyThis="readonlyOther" FieldCaption="FirstName"
            TransEntity="Individual"  @bind-BindingValue ="@objIndividual.FirstName" ></WrFieldStr>

            <WrFieldStr ReadonlyThis="readonlyOther" FieldCaption="SecondName"
            TransEntity="Individual"  @bind-BindingValue ="@objIndividual.SecondName" ></WrFieldStr>

            <WrFieldStr ReadonlyThis="readonlyOther" FieldCaption="LastName"
            TransEntity="Individual"  @bind-BindingValue ="@objIndividual.LastName" ></WrFieldStr>


            <WrFieldStr ReadonlyThis="readonlyOther" FieldCaption="FirstNameEN"
            TransEntity="Individual"  @bind-BindingValue ="@objIndividual.FirstNameEN" ></WrFieldStr>


            <WrFieldStr ReadonlyThis="readonlyOther" FieldCaption="SecondNameEN"
            TransEntity="Individual"  @bind-BindingValue ="@objIndividual.SecondNameEN" ></WrFieldStr>


            <WrFieldStr ReadonlyThis="readonlyOther" FieldCaption="LastNameEN"
            TransEntity="Individual"  @bind-BindingValue ="@objIndividual.LastNameEN" ></WrFieldStr>
    

            <div class="form-group">
                <WrLebel TransEntity="Individual" FieldCaption="BirthDay" ></WrLebel>  
                <input readonly="@readonlyOther" form="BirthDay" class="form-control" @bind="@objIndividual.BirthDay" />
            </div>


            <WrFieldStr ReadonlyThis="readonlyOther" FieldCaption="Address"
            TransEntity="Individual"  @bind-BindingValue ="@objIndividual.Address" ></WrFieldStr>

            
            <div class="form-group">
                <WrLebel TransEntity="Individual" FieldCaption="Contact" ></WrLebel>  
                <label  class="control-clct">@GnrSrv.ExistDataORNotFlag("Contact", "IndividualId", @CurrentID)</label>
                    <input disabled="@readonlyOther" type="button" class="btn btn bnt-style-general" @onclick="@(args => GoToCollection("/IndOrg/ContactViewStd/",CurrentID))"  value="Edit">
            </div
        
            <WrFieldStr ReadonlyThis="readonlyOther" FieldCaption="PassSerial"
            TransEntity="Individual"  @bind-BindingValue ="@objIndividual.PassSerial" ></WrFieldStr>
    
            <WrFieldStr ReadonlyThis="readonlyOther" FieldCaption="PassCode"
            TransEntity="Individual"  @bind-BindingValue ="@objIndividual.PassCode" ></WrFieldStr>

        <div class="form-group">
                <WrLebel TransEntity="Individual" FieldCaption="Gender" ></WrLebel>
                    <select disabled="@readonlyOther" class="form-control selectpicker" @bind="@objIndividual.GenderId">
                        <option>--select--</option>
                        @if (GenderList == null)
                        {
                        <p><em>Loading...</em></p>
                        @* <div class="spinner"></div> *@
                        }
                        else
                        {
                        @foreach (var item in GenderList)
                        {
                        <option value="@item.Id">@item.Name</option> // Blazor needs to know what values it binds to!
                        }
                        }
                    </select>
                </div>
                
                <div class="form-group">
                    <WrLebel TransEntity="Individual" FieldCaption="BirthPlace" ></WrLebel>
                    <input disabled="@readonlyOther" type="button" class="btn btn bnt-style-general" @onclick="@(args => GoToCollection("/Dir/CountryViewStd/",@objIndividual.BirthPlace_CountryId.ToString(),"Individual",@objIndividual.Id,"BirthPlace_CountryId"))"  value="Edit">
                    <input readonly="true" form="BirthPlace" class="form-control" value="@GnrSrv.GetReleatedData("Country", "Name", @objIndividual.BirthPlace_CountryId.ToString())" />
                
                </div
    
                <div class="form-group">
                    <WrLebel TransEntity="Individual" FieldCaption="CreatedDate" ></WrLebel>
                    <input  readonly="@readonlyMain1" class="form-control" @bind="@objIndividual.CreatedDate" />
                </div>
        </FormElements>      
    </WrFormBody>    
    </EditForm>    
</Authorized>
 <NotAuthorized>
       <WrPageNotFound/>
 </NotAuthorized>

  </AuthorizeView>


@code{


    [Parameter]
    public string CurrentID { get; set; }
    Individual objIndividual = new Individual();
    private List<Gender> GenderList;
    private List<Country> CountryList;

    private bool readonlyMain1 {get;set;}=false;
    private bool readonlyMain2 {get;set;}=false;
    private bool readonlyOther {get;set;}=false;  

     private void RefrashPage()
     {
             StateHasChanged();
     }
        protected override void OnInitialized()
    {
       // objIndividual = await Task.Run(() => IndividualController.GetById_FirstOrDefault(Convert.ToInt32(CurrentID)));
        objIndividual = IndividualController.GetById_FirstOrDefault(Convert.ToInt32(CurrentID));
        GenderList =  GenderController.GetGender();
        CountryList =  CountryController.GetCountry();

        readonlyMain1=AppData.readonlyMain1;
        readonlyMain2=AppData.readonlyMain2;
        readonlyOther=AppData.readonlyOther;

    }
    public void GoToCollection(string pLinkAddress,string pIdOfRecord)
    {           
      AppData.BaseUrlUri=NavManager.Uri;//"/IndOrg/IndividualEdit/"+pIdOfRecord;
      NavManager.NavigateTo(pLinkAddress+"0");
      AppData.flg_ChoosedRow=1;
      AppData.ChoosedRowId=int.Parse(pIdOfRecord);
      
    }

    public void GoToCollection(string pLinkAddress,string pIdOfRecord,  string pChoosedEntityName, 
                               int pChoosedEntityId, string pChoosedEntityFK)
    {           
        AppData.BaseUrlUri=NavManager.Uri;
        NavManager.NavigateTo(pLinkAddress+"0");
        AppData.flg_ChoosedRow=1;
        AppData.ChoosedRowId=int.Parse(pIdOfRecord);

        AppData.ChoosedEntityName=pChoosedEntityName; 
        AppData.ChoosedEntityId=pChoosedEntityId; 
        AppData.ChoosedEntityFK=pChoosedEntityFK;
      
    }

    protected void UpdateIndividual()
    {
        IndividualController.Update(objIndividual);
        NavManager.NavigateTo(AppData.IndividualLink);
    }
    void Cancel()
    {
        NavManager.NavigateTo(AppData.IndividualLink);
    }

     void OnInvalidSubmitMsg()
    {
       // Console.WriteLine("OnInvalidSubmit");
    }
}