@page  "/IndOrg/IndividualViewStd/{Id}"
@inject IndividualController MainController
@* @inject IStringLocalizer<IndividualViewStd> LL  *@

@if (list == null)
{
   <WrLoading/>   
}
else
{
<AuthorizeView Roles="@admSer.GetRolesList("IndividualViewStd")" Context="authContext">
   <Authorized>
    <WrDataGrid @ref="grid"
                  DataItems="list"
                  SelectedRow="SelectedRowMeth"
                  Columns="@MainController.columns"
                  BaseUrlUri="@AppData.BaseUrlUri"
                  UniqIdOfRecord="Id"
                  ColumnsToExcludeCSV="Id, FirstName"
                  PageNameTitle="@trs.GetTranslation("IndividualViewStd",@AppData.ActiveUser,"Individual")"
                  Paging="@(new PagingConfig
                            {
                                Enabled = true,
                                CustomPager = false,
                                PageSize = @AppData.rowNumMid
                            })">

        <ControlMenu>
            <WrOper Design="a" Type="C"  Link="/IndOrg/IndividualAdd"     KeyWorkTrn="Add" />
            <WrOper Design="a" Type="R"  Link="/IndOrg/IndividualEdit/"   LinkId=@AppData.Individual_IdSelect KeyWorkTrn="View" />
            <WrOper Design="a" Type="U"  Link="/IndOrg/IndividualEdit/"   LinkId=@AppData.Individual_IdSelect KeyWorkTrn="Edit" />
            <WrOper Design="a" Type="D"  Link="/IndOrg/IndividualDelete/" LinkId=@AppData.Individual_IdSelect KeyWorkTrn="Delete" />
        </ControlMenu>

        <ControlQuickAccess>                  
          
            <WrSrchDGrid OnSearchTextChanged="SearchTxt"> </WrSrchDGrid>
            <WrSpace Length=2/>
            <button class="btn bnt-style-general" @onclick="@(args => CleanSearchBox())" data-toggle="tooltip" title="@trs.GetTranslation("ShowMoreRecords",@AppData.ActiveUser,"General")"><span class="fa fa-angle-double-down" aria-hidden="true"></span></button>
            <button class="btn bnt-style-general" @onclick="@(args => FindSelectedRec())" data-toggle="tooltip" title="@trs.GetTranslation("Choose",@AppData.ActiveUser,"General")"><span class="fa fa-hand-pointer-o" aria-hidden="true" id="search-input"></span></button>
            <WrSpace Length=2/>
            <WrOper Design="btn" Type="C" Ico="fa fa-plus"   Link="/IndOrg/IndividualAdd"     KeyWorkTrn="Add" />
            <WrOper Design="btn" Type="R" Ico="fa fa-file"   Link="/IndOrg/IndividualEdit/"   LinkId=@AppData.Individual_IdSelect KeyWorkTrn="View" />
            <WrOper Design="btn" Type="U" Ico="fa fa-pencil" Link="/IndOrg/IndividualEdit/"   LinkId=@AppData.Individual_IdSelect KeyWorkTrn="Edit" />
            <WrOper Design="btn" Type="D" Ico="fa fa-trash"  Link="/IndOrg/IndividualDelete/" LinkId=@AppData.Individual_IdSelect KeyWorkTrn="Delete" />
    
            <WrSpace Length=2/>
            <button class="btn bnt-style-general" @onclick="@(args => FilterData())" data-toggle="tooltip" title="@trs.GetTranslation("Filter",@AppData.ActiveUser,"General")"><span class="fa fa-filter" aria-hidden="true"></span></button>
            <button class="btn bnt-style-general" @onclick="@(args => ExportToExcel())" data-toggle="tooltip" title="@trs.GetTranslation("ExportToExcel",@AppData.ActiveUser,"General")"><span class="fa fa-file-excel-o" aria-hidden="true"></span></button>
        </ControlQuickAccess>
    </WrDataGrid>
</Authorized>
 <NotAuthorized>
   <WrPageNotFound/>
 </NotAuthorized>
 </AuthorizeView>
}

@code  {


 #region     Declare
    [Parameter]
    public string Id { get; set; }
    private WrDataGrid<Individual> grid;
    private List<Individual> list;

 
 #endregion  Declare

 #region    BlazorMethods

    protected override void OnInitialized()
    {
        MainController.Initialized();
        AppData.BaseUrlUri=NavManager.Uri.ToString(); 
        list = MainController.GetById(int.Parse(Id)).ToList();         
    }

#endregion BlazorMethods

#region    Event
    private void SearchTxt(ChangeEventArgs changeEventArgs)
    {
        string searchValue = changeEventArgs.Value.ToString();
        list = MainController.GetSearchByField(searchValue);
        grid.GoToFirstPage();
    }
    private void SelectedRowMeth(string pSelectedRow)
    {
        AppData.Individual_IdSelect = pSelectedRow;
    }
    protected void FindSelectedRec()
    {
        grid.GoToFirstPage();
        list = MainController.GetById(int.Parse(AppData.Individual_IdSelect));
    }
    protected void CleanSearchBox()
    {
        grid.GoToFirstPage();
        list = MainController.GetSearchByField("");
        AppData.Individual_IdSelect = "0";
    }
    protected void ExportToExcel()
    {
        MainController.GenerateExcel(JSRuntime);
    }
    protected void FilterData()
    {
        JSRuntime.InvokeVoidAsync("msgbox", "FilterData");
    }
 #endregion Event

}
