@page "/Dir/Country/Edit/{CurrentID}"
@inject CountryController MainController


<WrAuth PageName="CountryEdit"><MainContent>  

<EditForm Model="@objMain" OnValidSubmit="@Save" OnInvalidSubmit="@Cancel" Context="formContext">  
    <FluentValidationValidator />  
    <ValidationSummary/>
    
    <WrPnlElm>
        <ControlQuickAccess>
            <WrOper Category="EditForm" EditOrView=true  TypeInput="button" Txt="Cancel"  OnClickCallback="Cancel"/> 
            <WrOper Category="EditForm" EditOrView=true  TypeInput="submit" Txt="Save"/>
       </ControlQuickAccess>
    </WrPnlElm>

    <WrFormBody>
        <FormElements>
            <WrFieldInt TransEntity="General" FieldCaption="Code" 
            Readonly="true" Val="@objMain.Code" />

            <WrFieldStr  FieldCaption="Name" 
            TransEntity="General"  @bind-BindingValue ="@objMain.Name"/> 

            <WrFieldStr FieldCaption="FullName" 
            TransEntity="General"  @bind-BindingValue ="@objMain.FullName"/>

            <WrFieldStr  FieldCaption="English" 
            TransEntity="General"  @bind-BindingValue ="@objMain.English"/>

            <WrFieldStr  FieldCaption="Alpha2" 
            TransEntity="General"  @bind-BindingValue ="@objMain.Alpha2"/>

            <WrFieldStr  FieldCaption="Alpha3" 
            TransEntity="General"  @bind-BindingValue ="@objMain.Alpha3"/>

            <WrFieldStr FieldCaption="Iso" 
            TransEntity="General"  @bind-BindingValue ="@objMain.Iso"/>   
     
            <div class="form-group">
                <WrLebel TransEntity="General" FieldCaption="CreatedDate"/>
                <input  readonly="true" class="form-control" @bind="@objMain.CreatedDate" />
            </div>

        </FormElements>      
    </WrFormBody>    
    </EditForm>    
</MainContent></WrAuth>

@code{

    [Parameter] public string CurrentID { get; set; }
    Country objMain = new Country();    

    protected override void OnInitialized()
    {
        objMain = MainController.GetById_FirstOrDefault(Convert.ToInt32(CurrentID));
    }

    protected void Save()
    {
        MainController.Update(objMain);
        NavManager.NavigateTo("/Dir/Country/ViewStd/"+CurrentID);
    }
    void Cancel()
    {
        NavManager.NavigateTo("/Dir/Country/ViewStd/"+CurrentID);
    }

  
}