@page "/Dir/Country/View/{CurrentID}"
@inject CountryController MainController


<WrAuth PageName="CountryEdit"><MainContent>  

<EditForm Model="@objMain" OnValidSubmit="@Update" OnInvalidSubmit="@Cancel" Context="formContext">  
    <FluentValidationValidator />  
    <ValidationSummary/>
    
    <WrPnlElm>
        <ControlQuickAccess>
            <WrOper Category="EditForm" EditOrView=true  TypeInput="button" Txt="Back"  OnClickCallback="Cancel"/> 
       </ControlQuickAccess>
    </WrPnlElm>

    <WrFormBody>
        <FormElements>
            <WrFieldInt TransEntity="General" FieldCaption="Code" 
            ReadonlyOpt="true" Val="@objMain.Code" />

            <WrFieldStr  FieldCaption="Name" ReadonlyThis="true"
            TransEntity="General"  @bind-BindingValue ="@objMain.Name"/> 

            <WrFieldStr FieldCaption="FullName" ReadonlyThis="true"
            TransEntity="General"  @bind-BindingValue ="@objMain.FullName"/>

            <WrFieldStr  FieldCaption="English" ReadonlyThis="true"
            TransEntity="General"  @bind-BindingValue ="@objMain.English"/>

            <WrFieldStr  FieldCaption="Alpha2" ReadonlyThis="true"
            TransEntity="General"  @bind-BindingValue ="@objMain.Alpha2"/>

            <WrFieldStr  FieldCaption="Alpha3" ReadonlyThis="true"
            TransEntity="General"  @bind-BindingValue ="@objMain.Alpha3"/>

            <WrFieldStr FieldCaption="Iso" ReadonlyThis="true"
            TransEntity="General"  @bind-BindingValue ="@objMain.Iso"/>   
     
            <div class="form-group">
                <WrLebel TransEntity="General" FieldCaption="CreatedDate"/>
                <input  readonly="true" class="form-control" @bind="@objMain.CreatedDate" />
            </div>

        </FormElements>      
    </WrFormBody>    
    </EditForm>    
</MainContent></WrAuth>

@code{
    [Parameter] public string CurrentID { get; set; }
    Country objMain = new Country();    
    private string  CancelOrBeckTxt { get; set; } 

    protected override void OnInitialized()
    {
        objMain = MainController.GetById_FirstOrDefault(Convert.ToInt32(CurrentID));
    }

    protected void Update()
    {
        MainController.Update(objMain);
        NavManager.NavigateTo("/Dir/Country/ViewStd/0");
    }
    void Cancel()
    {
        NavManager.NavigateTo("/Dir/Country/ViewStd/0");
    }

  
}