@page "/Dir/Country/View/{CurrentId}"
@inject CountryController MainController


<WrAuth PageName="CountryEdit"><MainContent>  

<EditForm Model="@_objMain" OnValidSubmit="@Cancel" OnInvalidSubmit="@Cancel" Context="formContext">  
    <FluentValidationValidator />  
    <ValidationSummary/>
    
    <WrPnlElm>
        <ControlQuickAccess>
            <WrOper Category="EditForm" EditOrView=true  TypeInput="button" Txt="Back"  OnClickCallback="Cancel"/> 
       </ControlQuickAccess>
    </WrPnlElm>

    <WrFormBody>
        <FormElements>
            <WrFieldInt TransEntity="General" FieldCaption="Code" 
            Readonly="true" Val="@_objMain.Code" />

            <WrFieldStr  FieldCaption="Name" Readonly="true"
            TransEntity="General"  @bind-BindingValue ="@_objMain.Name"/> 

            <WrFieldStr FieldCaption="FullName" Readonly="true"
            TransEntity="General"  @bind-BindingValue ="@_objMain.FullName"/>

            <WrFieldStr  FieldCaption="English" Readonly="true"
            TransEntity="General"  @bind-BindingValue ="@_objMain.English"/>

            <WrFieldStr  FieldCaption="Alpha2" Readonly="true"
            TransEntity="General"  @bind-BindingValue ="@_objMain.Alpha2"/>

            <WrFieldStr  FieldCaption="Alpha3" Readonly="true"
            TransEntity="General"  @bind-BindingValue ="@_objMain.Alpha3"/>

            <WrFieldStr FieldCaption="Iso" Readonly="true"
            TransEntity="General"  @bind-BindingValue ="@_objMain.Iso"/>   
     
            <div class="form-group">
                <WrLebel TransEntity="General" FieldCaption="CreatedDate"/>
                <input  readonly="true" class="form-control" @bind="@_objMain.CreatedDate" />
            </div>

        </FormElements>      
    </WrFormBody>    
    </EditForm>    
</MainContent></WrAuth>

@code{
    [Parameter] public string CurrentId { get; set; }
    Country _objMain = new Country();    
    protected override void OnInitialized()
    {
        _objMain = MainController.GetById_FirstOrDefault(Convert.ToInt32(CurrentId));
    }

    void Cancel()
    {
        NavManager.NavigateTo("/Dir/Country/ViewStd/"+CurrentId);
    }

  
}