@page "/Adm/ApplicationUser/Settings/{CurrentID}"
@inject ApplicationUserController MainController
@inject LanguageController LanguageController
   
<WrAuth PageName="ApplicationUserSettings"><MainContent>  

    <WrPnlElm>
        <ControlQuickAccess>
          <input type="button" class="btn btn bnt-style-general" @onclick="@Cancel" value="@trs.GetTranslation("Cancel",@AppData.ActiveUser,"General")">
          <input type="button" class="btn bnt-style-general" @onclick="@Save" value="@trs.GetTranslation("Save",@AppData.ActiveUser,"General")">
       </ControlQuickAccess>
    </WrPnlElm>

    <WrFormBody>
        <FormElements>      
 
            <div class="form-group">
            <label for="Language"  class="control-lable">@trs.GetTranslation("UserLangage",@AppData.ActiveUser?.ToString() ?? "","Adm")</label>
                          <select  class="form-control selectpicker" @bind="@objMain.LanguageId" >
                            <option>--select--</option>
                            @foreach (var item in LanguageList)
                            {
                            <option value="@item.Id">@item.Name (@item.NativeName)</option> // Blazor needs to know what values it binds to!
                            }
                        </select>   
            </div> 

        </FormElements>      
    </WrFormBody>    
   
</MainContent></WrAuth>
 


@code{

    [Parameter] public string CurrentID { get; set; }
    ApplicationUser objMain = new ApplicationUser();
    public List<Language> LanguageList;
        
     protected override void OnInitialized()
    {
        objMain =  MainController.GetApplicationUserById(CurrentID);
        LanguageList =  LanguageController.GetLangActive();
     }

    protected void Save()
    {
       MainController.UpdateApplicationUser(objMain);    
       AppData.GoBrwsNavigation(-2); 
    }
    void Cancel()
    {
       AppData.GoBrwsNavigation(-2);   
    }


}