@page "/Adm/ApplicationUser/Settings/{CurrentId}"
@inject ApplicationUserController MainController
@inject LanguageController LanguageController
   
<WrAuth PageName="ApplicationUserSettings"><MainContent>  

    <WrPnlElm>
        <ControlQuickAccess>
          <input type="button" class="btn btn bnt-style-general" @onclick="@Cancel" value="@trs.GetTranslation("Cancel",@AppData.ActiveUser,"General")">
          <input type="button" class="btn bnt-style-general" @onclick="@Save" value="@trs.GetTranslation("Save",@AppData.ActiveUser,"General")">
       </ControlQuickAccess>
    </WrPnlElm>

    <WrFormBody>
        <FormElements>      
 
            <div class="form-group">
            <label for="Language"  class="control-lable">@trs.GetTranslation("UserLangage",@AppData.ActiveUser?.ToString() ?? "","Adm")</label>
                          <select  class="form-control selectpicker" @bind="@_objMain.LanguageId" >
                            <option>--select--</option>
                            @foreach (var item in _languageList)
                            {
                            <option value="@item.Id">@item.Name (@item.NativeName)</option> // Blazor needs to know what values it binds to!
                            }
                        </select>   
            </div> 

        </FormElements>      
    </WrFormBody>    
   
</MainContent></WrAuth>

@code{

    [Parameter] public string CurrentId { get; set; }
    ApplicationUser _objMain = new ApplicationUser();
    private List<Language> _languageList;
        
     protected override void OnInitialized()
    {
        _objMain =  MainController.GetApplicationUserById(CurrentId);
        _languageList =  LanguageController.GetLangActive();
     }

    private void Save()
    {
       MainController.UpdateApplicationUser(_objMain);    
       AppData.GoBrwsNavigation(-2); 
    }
    void Cancel()
    {
       AppData.GoBrwsNavigation(-2);   
    }


}