@page "/IndOrg/Individual/Add"
@inject IndividualController MainController
@inject GenderController GenderController
@inject GnrSrv GnrSrv 

<WrAuth PageName="IndividualAdd"><MainContent>  
<EditForm Model="@objMain" OnValidSubmit="@Create">  
    <FluentValidationValidator />  @* <DataAnnotationsValidator />   It's Standard method of validations *@
    <ValidationSummary/>
    <WrPnlElm>
    <ControlQuickAccess>
        <WrOper Category="EditForm" TypeInput="button" Txt="Cancel"  OnClickCallback="Cancel"/>
        <WrOper Category="EditForm" TypeInput="submit" Txt="Save"/>
    </ControlQuickAccess>
    </WrPnlElm>
  <WrFormBody>
        <FormElements>

            <WrFieldStr  FieldCaption="FirstName"
            TransEntity="Individual"  @bind-BindingValue ="@objMain.FirstName"/> 

            <WrFieldStr FieldCaption="SecondName"
            TransEntity="Individual"  @bind-BindingValue ="@objMain.SecondName"/>

            <WrFieldStr  FieldCaption="LastName"
            TransEntity="Individual"  @bind-BindingValue ="@objMain.LastName"/>

            <WrFieldStr  FieldCaption="FirstNameEN"
            TransEntity="Individual"  @bind-BindingValue ="@objMain.FirstNameEN"/>

            <WrFieldStr  FieldCaption="SecondNameEN"
            TransEntity="Individual"  @bind-BindingValue ="@objMain.SecondNameEN"/>

            <WrFieldStr FieldCaption="LastNameEN"
            TransEntity="Individual"  @bind-BindingValue ="@objMain.LastNameEN"/>    

          <WrFieldDateTime TransEntity="Individual" FieldCaption="BirthDay">
               <RenderFrg>
                   <InputDate  form="BirthDay"  class="form-control"  @bind-Value="@objMain.BirthDay" @bind-Value:format="dd/MM/yyyy"/>
               </RenderFrg>
           </WrFieldDateTime>
            
            <WrFieldStr  FieldCaption="Address"
            TransEntity="Individual"  @bind-BindingValue ="@objMain.Address"/>

         
            <WrFieldStr  FieldCaption="PassSerial"
            TransEntity="Individual"  @bind-BindingValue ="@objMain.PassSerial"/>
    
            <WrFieldStr  FieldCaption="PassCode"
            TransEntity="Individual"  @bind-BindingValue ="@objMain.PassCode"/>
 
            <div class="form-group">
             <WrLebel TransEntity="Individual" FieldCaption="Gender"/>
                <select class="form-control selectpicker" @bind="@objMain.GenderId">
                    <option>--select--</option>
                    @foreach (var item in GenderList)
                    {
                    <option value="@item.Id">@item.Name</option> // Blazor needs to know what values it binds to!
                    }
                </select>
            </div>
       
       </FormElements>      
    </WrFormBody> 
</EditForm>

</MainContent></WrAuth>


@code{

    Individual objMain= new Individual();

     private List<Gender> GenderList;
  
    protected override void OnInitialized()
    {
        GenderList =  GenderController.Get();
    }

     protected  void Create()
     { 
        MainController.Create(objMain);
        NavManager.NavigateTo("/IndOrg/Individual/ViewStd/0");
     }

    void Cancel(){
        NavManager.NavigateTo("/IndOrg/Individual/ViewStd/0");
    }

}