@page "/IndOrg/Individual/Edit/{CurrentId}"
@inject IndividualController MainController
@inject GenderController GenderController
@inject CountryController CountryController
@inject GnrSrv GnrSrv 

<WrAuth PageName="IndividualEdit"><MainContent>  

<EditForm Model="@_objMain" OnValidSubmit="@Save" Context="formContext">  
    <FluentValidationValidator />  
    <ValidationSummary/>
    
    <WrPnlElm>
        <ControlQuickAccess>
            <WrOper Category="EditForm" EditOrView=true ReadonlyOther="false" TypeInput="button" Txt="Cancel"  OnClickCallback="Cancel"/> 
            <WrOper Category="EditForm" EditOrView=true ReadonlyOther="false" TypeInput="submit" Txt="Save"/>
       </ControlQuickAccess>
    </WrPnlElm>

    <WrFormBody>
        <FormElements>
            <WrFieldInt TransEntity="Individual" FieldCaption="Code" 
            Readonly="true" Val="@_objMain.Code" />

           <WrFieldStr Readonly="false" FieldCaption="FirstName"
            TransEntity="Individual"  @bind-BindingValue ="@_objMain.FirstName"/> 

            <WrFieldStr Readonly="false" FieldCaption="SecondName"
            TransEntity="Individual"  @bind-BindingValue ="@_objMain.SecondName"/>

            <WrFieldStr Readonly="false" FieldCaption="LastName"
            TransEntity="Individual"  @bind-BindingValue ="@_objMain.LastName"/>

            <WrFieldStr Readonly="false" FieldCaption="FirstNameEN"
            TransEntity="Individual"  @bind-BindingValue ="@_objMain.FirstNameEN"/>

            <WrFieldStr Readonly="false" FieldCaption="SecondNameEN"
            TransEntity="Individual"  @bind-BindingValue ="@_objMain.SecondNameEN"/>

            <WrFieldStr Readonly="false" FieldCaption="LastNameEN"
            TransEntity="Individual"  @bind-BindingValue ="@_objMain.LastNameEN"/>    
            
            <WrFieldDateTime TransEntity="Individual" FieldCaption="BirthDay">
               <RenderFrg>
                   <InputDate   form="BirthDay"  class="form-control"  @bind-Value="@_objMain.BirthDay" @bind-Value:format="dd/MM/yyyy"/>
               </RenderFrg>
           </WrFieldDateTime>
            
            <WrFieldStr Readonly="false" FieldCaption="Address"
            TransEntity="Individual"  @bind-BindingValue ="@_objMain.Address"/>

            <WrFieldArray TransEntity="Individual" FieldCaption="Contact" >
                <RenderFrg>
                <label  class="control-clct">@GnrSrv.ExistDataORNotFlag("Contact", "IndividualId", @CurrentId)</label>
                <input  type="button" class="btn btn bnt-style-general" @onclick="@(args => GoToCollection("/IndOrg/Contact/ViewStd/",CurrentId))"
                  value="@trs.GetTranslation("Edit",@AppData.ActiveUser,"General")">
                </RenderFrg>
            </WrFieldArray>

            <WrFieldStr Readonly="false" FieldCaption="PassSerial"
            TransEntity="Individual"  @bind-BindingValue ="@_objMain.PassSerial"/>
    
            <WrFieldStr Readonly="false" FieldCaption="PassCode"
            TransEntity="Individual"  @bind-BindingValue ="@_objMain.PassCode"/>
 
            <div class="form-group">
                     <WrLebel TransEntity="Individual" FieldCaption="Gender"/>
                          <select  class="form-control selectpicker" @bind="@_objMain.GenderId">
                            <option>--select--</option>
                            @foreach (var item in _genderList)
                            {
                            <option value="@item.Id">@item.Name</option> // Blazor needs to know what values it binds to!
                            }
                        </select>   
            </div> 
                 
               <div class="form-group">
                    <WrLebel TransEntity="Individual" FieldCaption="BirthPlace" />
                    <input  type="button" class="btn btn bnt-style-general" @onclick="@(args => GoToCollection("/IndOrg/Country/ViewStd/",@_objMain.BirthPlace_CountryId.ToString(),"Individual",@_objMain.Id,"BirthPlace_CountryId"))"
                       value="@trs.GetTranslation("Edit",@AppData.ActiveUser,"General")">
                    <input readonly="true" form="BirthPlace" class="form-control" value="@GnrSrv.GetReleatedData("Country", "Name", @_objMain.BirthPlace_CountryId.ToString())" />
                </div>
     
                <div class="form-group">
                    <WrLebel TransEntity="Individual" FieldCaption="CreatedDate"/>
                    <input  readonly="true" class="form-control" @bind="@_objMain.CreatedDate" />
                </div>

        </FormElements>      
    </WrFormBody>    
    </EditForm>    
</MainContent></WrAuth>


@code{

    [Parameter] public string CurrentId { get; set; }
    Individual _objMain = new Individual();
    private List<Country> _countryList;
    private List<Gender> _genderList;
    protected override void OnInitialized()
    {
        _objMain = MainController.GetById_FirstOrDefault(Convert.ToInt32(CurrentId));
        _genderList =  GenderController.Get();
        _countryList =  CountryController.Get();
    }

    private void GoToCollection(string pLinkAddress,string pIdOfRecord)
    { 
      NavManager.NavigateTo(pLinkAddress+pIdOfRecord); // change "0" to the Contact Id in Individual Table
    }

    private void GoToCollection(string pLinkAddress,string pIdOfRecord,  string pChoosedEntityName, 
                               int pChoosedEntityId, string pChoosedEntityFK)
    {           
        NavManager.NavigateTo(pLinkAddress+"0");
 
        AppData.ChoosedEntityName=pChoosedEntityName; 
        AppData.ChoosedEntityId=pChoosedEntityId; 
        AppData.ChoosedEntityFK=pChoosedEntityFK;
     
    }

    protected void Save()
    {
        MainController.Update(_objMain);
        NavManager.NavigateTo("/IndOrg/Individual/ViewStd/"+CurrentId);
    }
       void Cancel()
    {
          NavManager.NavigateTo("/IndOrg/Individual/ViewStd/"+CurrentId);
    }

    

  
}